   {% block content %}

    <html>
    <head>
        <meta charset="UTF-8">
        <title>All Things Yummy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
    <style>
        body {
            background-color: ghostwhite ;
            background-image: url("https://www.mccain.com/media/2556/mccain-fries-and-appetizers.jpg") ;
        }
    </style>
    <div class="collapse navbar-collapse" id="myNavbar" >
         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">

                    <div class="panel-body" style="color: firebrick">
            <ul class="nav navbar-nav" style="background-color:">
                <li><a href="{% url 'RestaurantBlog:home' %}"><b><u>Home</u></b></a></li>
                <li><a href="{% url 'RestaurantBlog:restaurant_list' %}"><b><u>Restaurants</u></b></a></li>
                <li><a href="{% url 'RestaurantBlog:dish_list' %}"><b><u>Food</u></b></a></li>
                <li><a href="{% url 'RestaurantBlog:review_list' %}"><b><u>Restaurant Reviews</u></b></a></li>
            </ul>

    <div class="container" >
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">

                    <div class="panel-body" style="color: firebrick">
                        <b><i> Welcome To All Things Yummy, Good Food for happy souls!</b></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row" >

        <h2  style="color:firebrick" align="center" ><b><i>DISH INFORMATION</b></i></h2>
    </div>
    <div>
        <table class="table table-bordered" style="background-color: lemonchiffon">
            <thead>
                        <tr class="bg-info" style="background: lemonchiffon">
                <th>Dish Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>User</th>
                <th>Image</th>
                <th>Restaurant</th>



                <th colspan="3" >Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for dish in dishes %}
                <tr>

                    <td>{{ dish.name }}</td>
                    <td>{{ dish.description }}</td>
                    <td>{{ dish.price }}</td>
                    <td>{{ dish.user }}</td>
                    <td>{{ dish.image }}</td>
                    <td>{{ dish.restaurant }}</td>



                    <td><a href="{% url 'RestaurantBlog:dish_edit' pk=dish.pk %}" class="btn btn-warning">Edit</a>

<td><a href="{% url 'RestaurantBlog:dish_delete' pk=dish.pk %}" onclick="return confirm ('Are you sure you want to delete?')"
                  class="btn btn-danger">Delete</a>


                </tr>

            {% endfor %}

            </tbody>

        </table>
 <td><a href="{% url 'RestaurantBlog:dish_new' %}"
                           class="btn btn-primary">Add New Dish Details</a>
    </div>
    </body>
    </html>
{% endblock %}